<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transitwidget"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/eta_launcher_v2"
        android:label="@string/app_name"
        android:hardwareAccelerated="true" >
        
        <activity android:name=".WidgetConfigActivity"
            android:label="@string/app_name">
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
    		</intent-filter>
		</activity>
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HoloEverywhereDark.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".OSSActivity"
            android:label="@string/oss_license_name"
            android:theme="@style/Theme.HoloEverywhereDark.Sherlock" >
        </activity>

        <activity
            android:name=".AgencySelectActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HoloEverywhereDark.Sherlock" />
        
        <!-- Receiver that will eventually restore alarms after a reboot. -->
        <receiver android:name=".receiver.WakeupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <!-- Receiver that handles widget update events from the system. -->
        <receiver android:name=".PredictionWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        

        <!-- Service for handling data updates. -->
        <service android:name=".service.MBTABackgroundService" />
        <!-- Service for updating widget UIs. -->
        <service android:name=".service.UpdateWidgetService" />
        <!-- Service for scheduling alarms for when to start updating data. -->
        <service android:name=".service.AlarmSchedulerService" />
        
        <!-- Provider for persisting widget configurations. -->
        <provider android:name=".provider.WidgetConfigurationProvider"
                  android:exported="false"
                  android:enabled="true"
                  android:authorities="transitwidget.provider.WidgetConfigurationProvider" />
        
        <!-- Provider for persisting transit service data. -->
        <provider android:name=".provider.TransitServiceDataProvider"
                  android:exported="false"
                  android:enabled="true"
                  android:authorities="transitwidget.provider.TransitServiceDataProvider" />
    </application>

</manifest>
